[2022-09-28 19:24] novicell-jhj opened #4 "Frequency is always 0 on my Ecodan Heatpump"
Hey @OlivierZal
Thanks for helping/take over the code for Gerard ! ❤️

I just notised several changes in the UI.
There us to be more values on the property page. And notised the frequency is always 0, and know it's more than 0 right now, since the heatpump is running.

![image](https://user-images.githubusercontent.com/113981570/192869626-f1fb919a-df7b-4cc4-b6ed-fb4677e62356.png)

The property pag

[2022-09-28 19:50] OlivierZal commented on #4
Hi, I will have a look asap and give you a feedback tomorrow.

Have you any other issues? Do you succeed in controlling the other HP params? Are you other flows still working?

[2022-09-28 21:17] novicell-jhj commented on #4
There is something very wrong.
When I try set the heat water flow to ex. 35 degrees, it change the heat type from flow to room. And also set the heat water flow to 25.
If I try set the temperature to 10, it sets the temperature to 30 or 25, and also change the heat type from flow to room.

I hope you can figure out what it is. It has been running perfectly for a year, and now none of my HP flows w

[2022-09-28 21:25] novicell-jhj commented on #4
If possible, we can make a teams session tomorrow, so I can show you what happens.

I have spent so many hours to optimize my house, and ex. charging the hot water tank with water when the electricity is cheapest and so on. And right now nothing works.

[2022-09-28 21:26] janhjordie commented on #4
I just saw I used my work Github account, this is my normal Github account.

[2022-09-28 21:37] janhjordie commented on #4
This is in MELCloud. It change from flow to room, and that's after I just try to set the hot water flow temperature

![image](https://user-images.githubusercontent.com/79910/192893130-fb4955ba-8ff8-4970-8ae9-34df823f1489.png)

![image](https://user-images.githubusercontent.com/79910/192893381-383d1bfd-e246-4382-9766-8bcaa4959377.png)

[2022-09-28 21:50] OlivierZal commented on #4
Thanks for the screenshots. Could you also send me the 2 corresponding screenshots of Homey?Le 28 sept. 2022 à 23:38, Jan Hjørdie ***@***.***> a écrit :﻿
This is in MELCloud. It change from flow to room, and that's after I just try to set the hot water flow temperature

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you were mentioned.Message ID: **

[2022-09-29 04:27] janhjordie commented on #4
Sure thing. In Homey it's called Zone Operation Mode (ZOM).
And for some reason, when I use any method to set something, it sets the ZOM to Heat Thermostat instead, where it should do nothing.

![image](https://user-images.githubusercontent.com/79910/192938430-001455ae-8805-4d29-ad17-c3bf8505ebd7.png)
![image](https://user-images.githubusercontent.com/79910/192938441-6e120d34-7154-48ce-8405-bb2f65

[2022-09-29 06:23] FrodeAlm opened #6 "Problem update"
my Hp stopped working after update. round trip water shows 22.5 degrees all the time. frequency shows 0 and gets error messages. this worked before you updated!
![9D21F974-F4A2-4A94-ADA5-271A80640DCF](https://user-images.githubusercontent.com/114644190/192954613-32fb931e-fbd3-4f3a-b58e-eb5e63a8b7df.png)
![012B68B4-9AA5-4117-BE08-7D0C50937E1D](https://user-images.githubusercontent.com/114644190/192

[2022-09-29 06:49] janhjordie commented on #6
@FrodeAlm can you remember what properties there were visible on the last image ? Where the frequency is in the bottom.
I know it use to show 1 or 2 rows more with data. But can't remember what it was.
I'm pretty sure it also showed the inside temperature

[2022-09-29 06:57] janhjordie commented on #4
I just tried the following.

1. Set the Zone Operation Mode in MELCloud to Flow
2. Activated the Set Water Tank Temp Card in Homey (and only that card)

And then I can see the MELCloud reported the Zone Operation Mode was changed to Room

![image](https://user-images.githubusercontent.com/79910/192961154-41a349f7-7746-4e02-b086-b2a767b70a23.png)

[2022-09-29 07:01] janhjordie commented on #4
ok, also notised the Set Zone Mode does not work at all. Tried to set it to Flow

![image](https://user-images.githubusercontent.com/79910/192961857-009f251a-7f63-4d47-b2fd-8313537e0ec4.png)

[2022-09-29 07:07] OlivierZal commented on #4
Maybe it could be related to https://github.com/XattSPT/com.melcloud/pull/36I’ll probably roll-back this commit. Le 29 sept. 2022 à 09:04, Olivier Zalmanski ***@***.***> a écrit :﻿Thank you it will help.Would you mind invite ***@***.*** as a guest from the official MELCloud app? Restricted (read-only) access should be enough to see MELCloud API behavior on your devices. Le 29 sept. 2022 à 08:58, J

[2022-09-29 07:14] janhjordie commented on #4
Hey @OlivierZal
Please add me on LinkedIn, on https://www.linkedin.com/in/janhjordie/
Then you can send your email address to to me that way, so I can invite you to my MELCloud

Thanks !

[2022-09-29 07:20] OlivierZal commented on #6
Hi, I’m aware of this issue and working on it right now. Please join https://github.com/OlivierZal/com.melcloud/issues/4 to contribute and follow the resolution.

[2022-09-29 07:24] janhjordie commented on #4
You are now invited to my MELCloud with full access

[2022-09-29 10:02] OlivierZal commented on #4
@janhjordie and @novicell-jhj, I think I get the issue, which is design-related to MELCloud API.
I try to send you a fixed test version when I'm back home tonight (in the late evening) so you can't test and won't have to wait for the stable release.

[2022-09-29 10:09] MTRKhn commented on #4
Same problem here. Since yesterday, most of the values are not reported in Homey for my Heat Pump. Temperatures, frequency and some other values are not reported anymore since 3PM yesterday (Paris time), even after registering the device again in Homey.
![3C391BD0-D14A-4249-9063-E1D5DBE4A0D8](https://user-images.githubusercontent.com/72077818/193004288-847a865b-55b4-4b17-a463-40b8251e368a.jpeg)

!

[2022-09-29 10:18] janhjordie commented on #4
Thanks @MTRKhn for the image.
@OlivierZal, the image above shows exactly all the values there were visible in 2.0.12, and now are gone in your 3.0.2

[2022-09-29 11:11] OlivierZal commented on #4
Hi everyone, I'm actually working on that and hope to provide you a test version by tomorrow.

Thanks for your help.

[2022-09-29 11:15] OlivierZal commented on #4
@novicell-jhj, I still see all these metrics on your device from my Homey

![image](https://user-images.githubusercontent.com/88216225/193017526-bb458cb9-1faf-47db-9d80-1107952a7ceb.png)

[2022-09-29 11:33] janhjordie commented on #4
@OlivierZal That is SO strange
I have only 5 values, and tried from 3 Mac browsers (Chrome, Brave and Safari) and my iPhone

![image](https://user-images.githubusercontent.com/79910/193020531-9d5a7b3e-267f-4bea-88d6-1b948db6564c.png)

[2022-09-29 11:37] janhjordie commented on #4
@OlivierZal maybe your screen/html view file is cached, since you don't have any values in most of the fields
Try kill the app and open it again. Also try access it from https://my.homey.app/

[2022-09-29 11:39] OlivierZal commented on #4
I don't think so since I added the device few minutes ago.

The values are the issue I'm currently solving thanks to your guest access.

[2022-09-29 11:43] janhjordie commented on #4
@OlivierZal Will it help your work if you get access to my Homey ?

Thanks Oliver ❤️

[2022-09-29 11:47] OlivierZal commented on #4
Yes of course, because at home I've only ACs.

Once at home I will have your device logs.

[2022-09-29 11:52] janhjordie commented on #4
I sent you a Homey invite link on LinkedIn

[2022-09-29 12:38] OlivierZal commented on #4
Sorry @janhjordie, I read too fast, Homey won't help because I need to install and test locally, but you can invite me to your MELCloud as a guest (with restricted / read-only access) if you want.

[2022-09-29 12:41] janhjordie commented on #4
@OlivierZal you are already in my MELCloud account https://app.melcloud.com/
I can see you have an active account in there

[2022-09-29 20:01] janhjordie commented on #4
Any success @OlivierZal ?

[2022-09-29 20:02] OlivierZal commented on #4
Testing right now

[2022-09-29 20:25] OlivierZal commented on #4
I think I solved at least one of the bug.
Can I try to change from Flow to Room?

[2022-09-29 20:25] OlivierZal commented on #4
@janhjordie, I think I solved at least one of the bug.
Can I try to change your HP from Flow to Room?

[2022-09-29 20:39] janhjordie commented on #4
Sure thing. Please test

[2022-09-29 20:40] MTRKhn commented on #4
You see this because you just registered the device in Homey. For existing ones, this is what is displayed (last update yesterday)

![Uploading D74E5DE2-C5EA-48F1-8E6A-5B8433C5A3A2.jpeg…]()

[2022-09-29 20:49] janhjordie commented on #4
@MTRKhn I have used my Homey with my heat pump for more than a year, and looked at that page almost every day, and it was yesterday it changed look, after the version 3.0.2 was installed
I have no idea how it's possible to have different views
Could it be a locale setting?
I'm from Denmark

[2022-09-29 20:59] MTRKhn commented on #4
Yeah same here, view was updated with the last update. 3PM yesterday, it’s the last value I have in Grafana. Message was for @OlivierZal sorry 😅

I assume HP values have been removed from 3.x version… it would be good to revert to the last 2.x version before there is a fix.

[2022-09-29 21:09] OlivierZal commented on #4
Yes, and it confirms it works.
The bug comes from a tiny change in the Homey SDK 3.

[2022-09-29 22:26] OlivierZal commented on #4
@janhjordie and @MTRKhn, can you please install https://homey.app/fr-fr/app/com.mecloud/MELCloud/test/ and test?

[2022-09-29 22:27] OlivierZal commented on #6
@FrodeAlm, can you please install https://homey.app/fr-fr/app/com.mecloud/MELCloud/test/ and test if you still have issue?

[2022-09-30 04:45] MTRKhn commented on #4
Just installed and values are now reported, yeaaaah. Only “problem”, even if it’s not a big one, is that my existing Homey device is missing a lot of values, I had to register the device again:

“Old” device (registered 1+ year ago):
![9F891567-014B-46E7-B8FF-02039F520F80](https://user-images.githubusercontent.com/72077818/193191980-a6bca8d9-873a-4c8a-8576-79beafa278c7.png)

Freshly registered dev

[2022-09-30 04:53] OlivierZal commented on #4
Hi,

That’s an issue, and I don’t succeed in reproducing on my side… (I see all the values with a newly registered device).

Would you mind add olivier.zalmanski@me.com as a guest with restricted (read-only) access to your MELCloud, so I can reproduce and test?

[2022-09-30 05:02] MTRKhn commented on #4
Done. But I assume it’s more on the Homey side

[2022-09-30 05:17] janhjordie commented on #4
@MTRKhn Do you also have a Ecodan air to water heat pump ?

[2022-09-30 05:20] OlivierZal commented on #4
I added @janhjordie's one.

[2022-09-30 05:22] OlivierZal commented on #4
@MTRKhn, it's strange because I see all your values too (see screenshot)

![image](https://user-images.githubusercontent.com/88216225/193196157-24ca0958-e9e0-4ee0-8d3c-4c80eda90203.png)

[2022-09-30 05:30] MTRKhn commented on #4
Yes. But just look at my edit below, my captures were switched. I have all values in the newly registered device but my « old » device is still missing some. No big deal I’ll switch my flows to the new device :)

[2022-09-30 05:45] OlivierZal commented on #4
I think I understand what happens and can get this issue fixed (for you @janhjordie too).

[2022-09-30 07:33] janhjordie commented on #4
@OlivierZal I tried to add my heat pump as new device, just like @MTRKhn
And now the old HP is showing the short value list with 5 values, and the new one is showing 9 values, as it use to do.
I can also see it shows 2 difference icons on the same device type. Pretty strange. But hey, it correct again with the new install.

So far so good !

Since it's still using version 3.0.2, then the zone oper

[2022-09-30 07:39] OlivierZal commented on #4
I don't understand, because when I see your device right now, I do see values.

![image](https://user-images.githubusercontent.com/88216225/193217357-c0baa78b-46c5-44d3-b116-49c7866d9f28.png)
![Uploading 193217368...]

[2022-09-30 07:47] OlivierZal commented on #4
@janhjordie, another thing strange in your comment: I deprecated "Heat Flow" in 3.0.2, so maybe the failure is that you need to change for a valid value from the drop-down. Can you please try and tell me?

[2022-09-30 07:54] janhjordie commented on #4
@OlivierZal I know you made a pull request yesterday, with changes to the heat flow value, but is that updated on my Homey already ? You don't need to bump up the version ? (I don't know how the flow is from the Git repo to official Homey release)
![image](https://user-images.githubusercontent.com/79910/193220076-39e22639-e5d4-44d5-93a7-b3886e05ccf4.png)

The defrost mode showed on you screen says

[2022-09-30 07:59] janhjordie commented on #4
Sorry, missed a screenshot

![image](https://user-images.githubusercontent.com/79910/193221368-e9e61641-fba4-4d69-93f4-191b15ae97a9.png)

[2022-09-30 08:08] OlivierZal commented on #4
![IMG_1633](https://user-images.githubusercontent.com/88216225/193221714-1a984e68-d2f6-4f81-ab90-b8323ece7ab0.PNG)

I can't explain that... as well as I can't explain why I see values for your device on my end, and not you.

Now I can explain the other things:
- fact that old devices are not recognized can provide from the fact I defaulted zone 1, although it was explicitly set previously: I can f

[2022-09-30 08:12] janhjordie commented on #4
@OlivierZal do you think I should try uninstall the MELCloud App ?
I would just be very sad if I had to, since it will break my big workflow

![image](https://user-images.githubusercontent.com/79910/193223531-8f2e5a23-c08a-45e3-814f-cdfbb71a0012.png)

[2022-09-30 08:13] OlivierZal commented on #4
No, it would break everything without helping.

I'm working to fix your issues :-)

[2022-09-30 08:20] janhjordie commented on #4
@OlivierZal A thing that I never got to work with the old version, was the force hot water card.
So I had to make a javascript snippet to do it, and then call that from my flow

 await device.setCapabilityValue('forcedhotwater', true)
        .then(() => log('forcedHotWaterMode ON'))
        .catch(error => log(`Error:`, error));

I also think it's best to try fix, because all users with this app

[2022-09-30 08:24] OlivierZal commented on #4
I fixed a faulty code related to forced hot water, did you try again with new version?

[2022-09-30 08:29] janhjordie commented on #4
How do I get the new version @OlivierZal ??
It still says 3.0.2 on my Homey

It still gives this error when try change the value

![image](https://user-images.githubusercontent.com/79910/193227493-5fb68b5e-8511-4b08-9a16-71c387170e78.png)

[2022-09-30 08:31] OlivierZal commented on #4
This is the newest version... (and mine).

Is it your "old" or your "new" device?
I will publish a new test version in about 1 hour.

[2022-09-30 08:37] OlivierZal commented on #4
@janhjordie and @MTRKhn, can you please test this new version?
https://homey.app/fr-fr/app/com.mecloud/MELCloud/test/

[2022-09-30 08:58] janhjordie commented on #4
Haha, great @OlivierZal 😆  I just installed your 3.0.4 test version, and it looks much much better now. But strange enough, it's only the newly added heatpump that shows the many values.

![image](https://user-images.githubusercontent.com/79910/193233388-1db6178f-f37a-43a0-b6d9-a901c604f26b.png)

[2022-09-30 09:03] OlivierZal commented on #4
hmmm, maybe you need to do the switch now.

[2022-09-30 09:04] OlivierZal commented on #4
hmmm, maybe you need to do the switch now due to SDK3 changes (it won't change anymore).

Do you confirm that now control is ok? (zone operation mode, forced hot water)

[2022-09-30 09:06] janhjordie commented on #4
No, the zone operation mode does not work.

I have tried several times to set it to Flow, and set the heat water and cold water temp.

When Homey read the settings after the poll interval, it's set to Room and no values on hot and cold water temp
![image](https://user-images.githubusercontent.com/79910/193235062-e7c054d6-0271-4a02-89f9-8b8e62577a73.png)

[2022-09-30 09:09] janhjordie commented on #4
YES !! Now the frequency works again 😃

![image](https://user-images.githubusercontent.com/79910/193235909-95e8c85f-fcec-4136-8090-bee0dfa90938.png)

[2022-09-30 09:16] OlivierZal commented on #4
@janhjordie, I confirm the zone operation mode modification issue.

[2022-09-30 09:21] OlivierZal commented on #4
@janhjordie, have you flows changing the settings?

[2022-09-30 09:28] janhjordie commented on #4
@OlivierZal, no, my flows will first run at 2pm today. I just tried it manually. You are also welcome to try do it from your location.

[2022-09-30 10:07] OlivierZal commented on #4
@janhjordie and @MTRKhn, can you please test 3.0.5? (from https://homey.app/fr-fr/app/com.mecloud/MELCloud/test/)

[2022-09-30 10:15] MTRKhn commented on #4
Anything specific you want to test ?

some information are still missing on the « old » device. New one looks ok.

[2022-09-30 10:17] OlivierZal commented on #4
For the reasons I mentioned above, due to SDK3 requirements, it seems the devices needs to reassociated (once for good).

Tests would consist to confirm there is no control/data issue.

[2022-09-30 10:41] janhjordie commented on #4
@OlivierZal Still same issue with 3.0.5. It's not changing the Zone Operation Mode on the heatpump

![image](https://user-images.githubusercontent.com/79910/193251928-6f65603e-fb6f-45e3-ab82-3d33faf0082d.png)

![image](https://user-images.githubusercontent.com/79910/193252045-c569b221-ce70-4750-afe8-5e01a107dbc2.png)

If I change the Zone mode on the heatpump with the native MELCloud app, the Home

[2022-09-30 12:38] OlivierZal commented on #4
Hi @janhjordie and @MTRKhn, I think that now the issue is fixed. Will release a new test version in a couple of minutes.

Just one question: I see that MELCloud API (and Homey MELCloud API) propose to change the "Cool Water Temperature", but I don't see how to perform this action from the official MELCloud app – not how to choose "Cool Room/Flow" (versus "Heat Room/Flow").

Is something missing fr

[2022-09-30 12:42] janhjordie commented on #4
@OlivierZal I don't have any options for cool water in the native MELCloud app.
I guess it's something from the air to air heat pumps

[2022-09-30 12:45] OlivierZal commented on #4
It's something specific to air to water HP, though.
I see how to configure "cool water temperature" (which is also specific to air to water HP) using the API, but I really wonder how we can set the "cool water temperature" from the app.

[2022-09-30 12:58] MTRKhn commented on #4
It's for air to water HP that can both heat and cool down. Mine is only heating so option is not available.

[2022-09-30 13:05] janhjordie commented on #4
@OlivierZal I have no idea how to do that. I have never seen that option in the native app, only in the Homey MELCloud app 😆
It might be an option on some of the heat pumps models

![image](https://user-images.githubusercontent.com/79910/193276004-ef4b7a4a-7dfe-4cf9-bf3e-d819cfe2afa8.png)

[2022-09-30 13:06] OlivierZal commented on #4
Got it

[2022-09-30 14:33] OlivierZal commented on #4
@janhjordie and @MTRKhn, this version should work: https://homey.app/fr-fr/app/com.mecloud/MELCloud/test/

Note that due to migration to SDK3, you may need to add your devices again and restart Homey (once for good).

Please tell me if you find any issue, in particular with flows.

[2022-09-30 14:38] janhjordie commented on #4
@OlivierZal I can confirm the set Zone Operation Mode now works 😍

[2022-09-30 15:26] OlivierZal commented on #4
@janhjordie and @MTRKhn, don't hesitate to open a new incident for any bug you would find.

Regards

[2022-09-30 15:26] #4 closed

[2022-09-30 15:31] OlivierZal commented on #6
@janhjordie, @FrodeAlm and @MTRKhn, will be solved with upcoming v3.0.6.

Don't hesitate to open a new incident for any bug you would find.

Regards

[2022-09-30 15:31] #6 closed

[2022-09-30 17:29] Deejaybaze opened #10 "EcoDan control"
How do I install the test version?

[2022-09-30 17:31] janhjordie commented on #10
https://homey.app/fr-fr/app/com.mecloud/MELCloud/test/

[2022-09-30 18:44] Deejaybaze commented on #10
Seems like the last update 306 works.

[2022-09-30 19:04] OlivierZal commented on #10
Glad to hear, @Deejaybaze!

[2022-09-30 19:04] #10 closed

[2022-09-30 19:53] MTRKhn opened #11 "Can’t add new Air to Water HP in 306"
I deleted the device in Homey and wanted to recreate. After login in MELCloud, no device are available.

[2022-09-30 20:28] OlivierZal commented on #11
Hi @MTRKhn, if I well understand you don't see your device in MELCloud anymore?
Seems rather to be a MELCloud issue than an Homey one, maybe related to a bad guest access handling.
I've removed my guest access to avoid any conflict (even if it was a read-only access): I think you should add your device again to your MELCloud account.
Don't hesitate to contact me if you have any to pair your device

[2022-09-30 20:34] MTRKhn commented on #11
I still have my device in MELCloud, but I can’t add it again in Homey.

![BF0EFC94-9076-40FA-A362-5226141BE40E](https://user-images.githubusercontent.com/72077818/193352112-df37a9d9-ec86-47c6-9478-05009674cf9a.jpeg)

i’m pretty sure I did it in either 305 or 304

[2022-09-30 20:43] OlivierZal commented on #11
Oh, you're French ;-)

Would you mind to provide me a read-only guest access again, so I can see if I succeed in adding it?

[2022-09-30 20:52] MTRKhn commented on #11
Nobody is perfect 🤪

Access will be granted in a few minutes.

[2022-09-30 20:58] OlivierZal commented on #11
![IMG_1634 2](https://user-images.githubusercontent.com/88216225/193355178-065b7f6f-7d96-416a-adec-71eba61a0f84.PNG)

[2022-09-30 21:03] OlivierZal commented on #11
Théoriquement, si vous n'arrivez pas à ajouter un appareil, c'est qu'il est déjà sur votre Homey.
Arrivez-vous à accéder à cette page https://tools.developer.homey.app/tools/devices et si oui, est-ce que par hasard vous y voyez d'une façon ou d'une autre votre appareil ?

[2022-09-30 21:07] OlivierZal commented on #11
Est-ce que ce ne serait pas une manipulation malheureuse, comme par exemple l'avoir supprimé seulement des favoris, mais pas de vos appareils ?
En l'ajoutant à nouveau aujourd'hui, ne vous-êtes vous pas trompé de pièce en l'associant ? ou ne se trouve-t-il pas dans la "pièce par défaut" ?

Désolé, je lance des idées peut-être un peu bête comme ça, car n'arrivant pas à reproduire...

[2022-09-30 21:07] MTRKhn commented on #11
En effet, il est déjà enregistré, mais jusqu'à il y a quelques minutes, j'avais bien les deux enregistrés (un avec la 302 stable et un avec la dev/test 306). Bizarre, je viens de dégager l'autre et maintenant j'arrive à le rajouter. Là j'avoue, il y a un peu de magie :-D

[2022-09-30 21:09] OlivierZal commented on #11
Alors j'ai déjà constaté que parfois, après l'installation d'une nouvelle version, il faut un peu de temps pour que la nouvelle version prenne le dessus (et un utilisateur que j'ai débuggé l'a aussi expérimenté aujourd'hui même).

[2022-09-30 21:12] OlivierZal commented on #11
C'est aussi dû au fait que la version 3.0.6 gèrent les devices de la même façon que la 2.0.12, si bien qu'ils ne peuvent plus être dupliqués, contrairement à la version 3.0.2, qui les géraient différemment.

Avec la 3.0.6 j'interdis une pompe air-air d'être enregistrée comme air-eau et vice-versa, ce qui n'était pas le cas auparavant.

[2022-09-30 21:12] #11 closed

[2022-10-01 14:18] janhjordie opened #15 "Event triggered for multiply types at the same time"
Hey @OlivierZal
If I use the Operation Mode has changed card, and make two separate cards, with DHW Heating and Heating. They are both triggered at the same time. The trigger is triggered every time the MELCloud is polling the heatpump.

![Homey_Pro](https://user-images.githubusercontent.com/79910/193413719-ddce0a0c-7415-4bf5-87c1-cc7abe91773d.jpg)
![image](https://user-images.githubusercontent.co

[2022-10-01 14:19] janhjordie commented on #15
![image](https://user-images.githubusercontent.com/79910/193413869-6aaf31be-2e03-49dc-8f9b-d2cda31cb9b0.png)

[2022-10-01 18:39] OlivierZal commented on #15
Hi @janhjordie, I’ll have a look. I think it will easy to find the issue, otherwise maybe I’ll ask you for a guest access again so I can test. I’ll keep you updated.

[2022-10-01 18:41] OlivierZal commented on #15
By the way I will release a new test version soon since I found a use case where flow does not update.

[2022-10-03 06:30] janhjordie commented on #15
@OlivierZal you have guest access again 😄

[2022-10-03 06:51] OlivierZal commented on #15
Thanks! I've located many bugs I've "theoretically" fixed, so it will help.

[2022-10-03 07:01] Johan1984S opened #16 "Temperature reverts back and can I retriev the current indoor temp from the indoor sensor?"
Hi,

Just got a new Mitsubishi heatpump installad (Air to water), I have also an wireless indoor controller(that provides current indoor temp to the main unit) installed. However I'm facing two issues, cant I retrieve the current indoor temperature to an advanced flow?  Second problem is that the unit reverts back to the original temperature if I have flow setting it to 19 it will revert back to o

[2022-10-03 10:35] smurfb opened #17 "Unexpected token S in JSON at position 4"
Hi!

Im trying to add a AIR to AIR heat pump. After I put in username and password it says searching for devices and then after a couple of seconds this error appear: "Unexpected token S in JSON at position 4".

Am I doing something wrong?

Thanks for your efforts!

[2022-10-03 13:34] doinkmaster commented on #17
Smae issue here.

[2022-10-03 14:06] doinkmaster commented on #17
Hi. I just made it work.
Instead of using the homey app on the phone i logged in to my.homey.app and did it from the web. There it worked perfectly.

[2022-10-03 14:52] smurfb commented on #17
It worked for me aswell. Thanks for the suggestion!

Den mån 3 okt. 2022 16:06doinkmaster ***@***.***> skrev:

[2022-10-05 13:59] OlivierZal commented on #17
Hi @smurfb and @doinkmaster, I'm happy everything works by now.

This error message appears when the device cannot be reached anymore, e.g. because permissions have been removed.

Don't hesitate to install this test version, which fixed several issues, in particular with flow cards: https://homey.app/a/com.mecloud/test/ and to tell me if you encounter any issue.

Best regards

[2022-10-05 13:59] #17 closed

[2022-10-05 14:01] OlivierZal commented on #16
Hi @Johan1984S, I'm the new developer of the project, and I found bugs that I fixed in this test version: https://homey.app/a/com.mecloud/test/

Could you please tell me if it solves your issue?

Best regards

[2022-10-05 14:03] OlivierZal commented on #15
Hi @janhjordie!

Thank you very much for your support ;-)

Could you please install https://homey.app/a/com.mecloud/test/ and tell me if it solved your issues?

Best regards

[2022-10-05 14:04] janhjordie commented on #15
I have just installed it. I will return asap 😜

[2022-10-05 14:06] janhjordie commented on #15
The zone operation mode is broken again.
When i set it to flow its set to room

[2022-10-05 14:14] OlivierZal commented on #15
Oh, the settings is well changed but this is the opposite value which is sent to MELCloud.

Investigating further...

[2022-10-05 14:44] janhjordie commented on #15
I have installed 3.1.1. Testing 😜

[2022-10-05 14:44] OlivierZal commented on #15
Ok, I understand sometimes it works and sometimes not: there is a small delay after settings being saved, I added a sleep of 5 seconds and it seems to work.

Here is the new version to install: https://homey.app/fr-fr/app/com.mecloud/MELCloud/test/

[2022-10-05 14:48] janhjordie commented on #15
The zone operation works again.
But the outside temp variable is now missing

[2022-10-05 14:48] OlivierZal commented on #15
@Johan1984S, @FrodeAlm, @MTRKhn, @smurfb, @doinkmaster, @Deejaybaze, @FridhF, FYI

[2022-10-05 14:50] janhjordie commented on #15
And can see the frequency has changed name to Heat Pump Frequency.
Please be carefull changing variables, because it breaks flows

[2022-10-05 14:53] OlivierZal commented on #15
Now I use the same names than the MELCloud API to avoid any confusion, that's why I changed labels. I left the ids to avoid breaking the flow cards.

[2022-10-05 14:54] OlivierZal commented on #15
Now I use the same names than the MELCloud API to avoid any confusion, that's why I changed labels. I left the ids to avoid breaking the flow cards (outside => outdoor, etc.).

[2022-10-05 15:03] OlivierZal commented on #15
@janhjordie, can you try this new version?

[2022-10-05 15:05] janhjordie commented on #15
3.1.2 👍
Now it works again.

![image](https://user-images.githubusercontent.com/79910/194094755-99b5c124-e3e8-4d08-80d9-bdc89c98c27c.png)

[2022-10-05 15:08] janhjordie commented on #15
But I can't read the Outdoor Temperature from the flows. The variable does not exists

[2022-10-05 15:09] OlivierZal commented on #15
Have you a screenshot of your flow and of the error message?

[2022-10-05 15:14] OlivierZal commented on #15
<img width="400" alt="Capture d’écran 2022-10-05 à 17 13 30" src="https://user-images.githubusercontent.com/88216225/194096852-765cfadb-2950-4a74-93fa-bf28965529b5.png">

[2022-10-05 15:15] OlivierZal commented on #15
I can roll-back the names without any problem, it's just that are very different from the API, so it's very disturbing when trying to understand the code.

[2022-10-05 15:20] OlivierZal commented on #15
Trying to reproduce.

[2022-10-05 15:21] OlivierZal commented on #15
Is it possible that your browser use a cache keeping a previous version? Can you clear the cache of your browser?

[2022-10-05 15:23] OlivierZal commented on #15
My board indicates that currently nobody has 3.1.2 installed.

<img width="1829" alt="Capture d’écran 2022-10-05 à 17 21 59" src="https://user-images.githubusercontent.com/88216225/194098688-d2376c0f-bc21-470a-b478-8a6804d6ac75.png">

[2022-10-05 15:24] janhjordie commented on #15
Cache is cleared, also tried in private browsing, and another browser. Same issue.

My Homey says 3.1.2

![image](https://user-images.githubusercontent.com/79910/194098951-d8a96001-8d7c-4f06-bc31-ac33d8969e16.png)

[2022-10-05 15:26] janhjordie commented on #15
I have to leave in 10 min. And will be back later tonight 22'ish to test.
Maybe you could try bump up the version

[2022-10-05 15:26] OlivierZal commented on #15
I'll try something.

[2022-10-05 15:33] OlivierZal commented on #15
I'll roll-back some names...

[2022-10-05 15:34] OlivierZal commented on #15
But without finding the root cause and not reproducing, I'm not sure it would solve your issue.
Can you install production version and then install experimental again?

[2022-10-05 15:55] MTRKhn commented on #15
Are you changing names again ? I just changed all my Grafana dashboards :'(

[2022-10-05 16:05] OlivierZal commented on #15
@MTRKhn, I can wait for @janhjordie's feedback but if I don't find the root cause, there's a risk it happens for other users...

My version was a test, and I confess that many Homey behaviours are still obscure to me...

Are you flows working well? Do you succeed in accessing the new capabilities?

[2022-10-05 16:05] OlivierZal commented on #15
Maybe wait for tomorrow for additional configurations, since the test has not been transformed yet...

[2022-10-05 16:23] FrodeAlm commented on #15
Water temp shows 25 degrees all the time, but all other values ​​now work well.Med hilsen Frode AlmMob: +47917176305. okt. 2022 kl. 18:05 skrev Olivier Zalmanski ***@***.***>:﻿
@MTRKhn, I can wait for @janhjordie's feedback but if I don't find the root cause, there's a risk it happens for other users...
My version was a test, and I confess that many Homey behaviours are still obscure to me...
Are

[2022-10-05 20:10] ronennieshow opened #18 "New experimental app 3.1.2 ( ecodan )"
Hi

I have been update'ted to the newest version

And now there are some issues back

I can not start forced hot water to on from homey to the mel cloud app
I can nog change the temperatur from te melcloud back to the homey app.
If i change the temperatur in homey it is taken over by the melcloud app

![image](https://user-images.githubusercontent.com/113858484/194153442-f4e4a3cc-a4db-429d-96ca-6c

[2022-10-05 20:47] OlivierZal commented on #15
Hi here, I cannot reproduce @janhjordie's issue, so it's probably safer to roll-back capability names.

[2022-10-05 21:07] Deejaybaze commented on #15
Hi. On my end it seems to work well now. Just one question. The "Flow Temperature" Is that the output pipe for zone 1? And can i via the app set mode to Flow, and set the output temperature to xx (25)?

[2022-10-05 21:26] OlivierZal commented on #15
Hi @Deejaybaze, yes for the flow temperature.

You can set flow mode and set target & other settings from the device's settings (wheel on the top right).

[2022-10-05 21:28] Deejaybaze commented on #15
And all is for zone 1?

[2022-10-05 21:35] OlivierZal commented on #15
When you pair your device for the first time, you are proposed 1 device for zone 1 and 1 device for zone 2 if zone 2 is configured, so zone control depends on 2 different devices. If you added a zone 2, I guess you need to pair your device again to see specific device for zone 2.

[2022-10-05 21:43] Deejaybaze commented on #15
Ahh.. Thank you. I have not installed zone 2 yet. But will soon.
Thank you.

[2022-10-06 06:35] janhjordie commented on #15
@OlivierZal It worked installing 3.0.6 and then 3.1.2 again !
Now I have the Outdoor temperature 🚀
That was a nice workaround !

[2022-10-06 07:00] janhjordie commented on #15
@OlivierZal It seems the Operation Mode Cards not working. I don't get any triggers on change to DWH or Heating (the only ones I use)

![image](https://user-images.githubusercontent.com/79910/194235253-a872f07f-084e-4a3d-b85e-0969ab5bd7d7.png)

[2022-10-06 07:07] OlivierZal commented on #18
Hi @ronennieshow, I’ll have a look ASAP.

[2022-10-06 13:32] OlivierZal commented on #18
I made some modification of the code today but need to be home (tonight) so I can test.

[2022-10-06 21:05] OlivierZal commented on #15
Here is a new version: https://homey.app/a/com.mecloud/test/

Value modification seems to fixed, even if something there is some lag on MELCloud UI's side.
I didn't test all the flows yet.

[2022-10-06 21:06] OlivierZal commented on #18
@ronennieshow and @janhjordie,

Here is a new version: https://homey.app/a/com.mecloud/test/

Value modification seems to fixed, even if something there is some lag on MELCloud UI's side.
I didn't test all the flows yet.

[2022-10-06 21:11] OlivierZal commented on #18
Note: to enhance sync and triggering I moved transformed some settings into capabilities

[2022-10-06 21:13] OlivierZal commented on #16
Here is a new version: https://homey.app/a/com.mecloud/test/

Value modification seems to fixed, even if something there is some lag on MELCloud UI's side.
I didn't test all the flows yet.

Note: to enhance sync and triggering I moved transformed some settings into capabilities

[2022-10-06 21:13] OlivierZal commented on #15
Note: to enhance sync and triggering I moved transformed some settings into capabilities

[2022-10-07 05:38] janhjordie commented on #18
@OlivierZal
I just tried to change the hot water temperature with the 3.1.3

Doing it from the heatpump property page works just fine
![image](https://user-images.githubusercontent.com/79910/194474964-90a6e148-611f-4d27-964a-b1f88763f2ff.png)

But doing the same thing from a card does not work

![image](https://user-images.githubusercontent.com/79910/194475235-71d43672-f455-40e1-bce9-98a1c4591038.

[2022-10-07 05:52] OlivierZal commented on #18
On it, @janhjordie.

[2022-10-07 06:07] ronennieshow commented on #18
If i change the room setpointtemperatur in a flow in homey it is not taken over by the mel cloud app
If i change the room setpoint temperatur in mel cloud it is taken over by homey

[2022-10-07 06:53] OlivierZal commented on #18
@ronennieshow, can I have a screenshot of your flow so I can reproduce?

What is strange is that setpointtemperature is a standard capability, then not handled by the app code but directly by Homey system.

[2022-10-07 08:21] OlivierZal commented on #18
@janhjordie, the issue has been located and fix for the next test version.

How do you set the "eco hot water" setting? Via MELCloud website?

[2022-10-07 08:25] janhjordie commented on #18
@OlivierZal Sounds great !
I have never set the eco hot water from Homey. And can't find any options on the Native MELCloud to set it

[2022-10-07 08:31] OlivierZal commented on #18
@janhjordie, for your MELCloud general culture, MELCloud needs a binary flag for each setting we send hi.
From a website, we can inspect the elements and see which flags is used to change Eco Hot Water (for example), so without website I need to write a script and test recursive binaries until it works.

[2022-10-07 08:34] janhjordie commented on #18
@OlivierZal You are welcome to use my MELCloud to test.

[2022-10-07 10:44] OlivierZal commented on #18
Unless... @ronennieshow, do you have 1 or 2 zones configured with your Ecodan?

[2022-10-07 11:25] janhjordie commented on #18
@OlivierZal
Setting the temp works for me, but it's also turn off the heatpump. Totally wierd

![image](https://user-images.githubusercontent.com/79910/194542308-a58b4323-a6d8-4140-9f4f-36d4cfc31b74.png)

[2022-10-07 11:32] OlivierZal commented on #18
Maybe our tests interfere one with the other. I'll stop them right now, can you please try once again?

[2022-10-07 12:12] janhjordie commented on #18
@OlivierZal Haha, I think you are right 🤣 It works just fine setting the hot water temperature, and does not turn if off !

Btw, be aware of polling to often from MELCloud. They changed to MQTT for some months ago, so if you poll it to often, the message queue can handle the messages.

I found that polling faster than 3 minutes made the MELCloud unresponsible.

[2022-10-07 23:09] OlivierZal commented on #15
Here is a new test version of the app: https://homey.app/fr-fr/app/com.mecloud/MELCloud/test/

Don't hesitate to raise any issue you encounter.

[2022-10-07 23:09] OlivierZal commented on #16
Here is a new test version of the app: https://homey.app/fr-fr/app/com.mecloud/MELCloud/test/

Don't hesitate to raise any issue you encounter.

[2022-10-07 23:09] OlivierZal commented on #18
Here is a new test version of the app: https://homey.app/fr-fr/app/com.mecloud/MELCloud/test/

Don't hesitate to raise any issue you encounter.

[2022-10-08 06:32] janhjordie commented on #18
Hey @OlivierZal
I just installed 3.1.5. The set hot water temp and force mode is working just fine.

But the event trigger on operation mode does not work. Ex. when the operation mode changes to DHW, nothing happens.

![image](https://user-images.githubusercontent.com/79910/194693357-b677138c-9740-4c3e-9bcd-25fabb507abb.png)

[2022-10-08 06:40] OlivierZal commented on #18
On it! (after my daughter dance's lesson).

[2022-10-08 07:21] janhjordie commented on #18
@OlivierZal  Enjoy the time with your daughter. That's also very important. And much more than this issue 😉

[2022-10-08 18:15] OlivierZal commented on #18
@janhjordie, I cannot reproduce

![image](https://user-images.githubusercontent.com/88216225/194721743-b823b651-e5c0-481d-8ec7-7b4aa6bc9e95.png)
![image](https://user-images.githubusercontent.com/88216225/194721762-7f459125-6f09-418f-b6a1-042f51fb1649.png)
![image](https://user-images.githubusercontent.com/88216225/194721766-df3ce4a6-7ff9-48e1-9772-4ea1fb464961.jpeg)

[2022-10-08 18:23] janhjordie commented on #18
I will try uninstalling and install prod version, and then 3.1.5 again.
Maybe that will help. I'll return

[2022-10-08 18:27] OlivierZal commented on #18
And create a new flow from scratch.

[2022-10-08 20:04] OlivierZal commented on #18
@janhjordie, I’ve just been notified again 😉

![356BF85D-1819-4C1F-B4A5-9F14DF3969A6](https://user-images.githubusercontent.com/88216225/194725975-a121e159-bcb2-403e-97a4-128459536b5d.jpeg)

[2022-10-10 06:52] OlivierZal commented on #15
Production version with the fixes should be available in a couple of days, don’t hesitate to raise an issue in case of any bug or unexpected behavior.

[2022-10-10 06:52] #15 closed

[2022-10-10 06:53] OlivierZal commented on #16
Production version with the fixes should be available in a couple of days, don’t hesitate to raise an issue in case of any bug or unexpected behavior.

[2022-10-10 06:53] #16 closed

[2022-10-10 06:53] OlivierZal commented on #18
Production version with the fixes should be available in a couple of days, don’t hesitate to raise an issue in case of any bug or unexpected behavior.

[2022-10-10 06:53] #18 closed

[2022-10-10 07:52] Johan1984S commented on #16
Big thanks, seems to work very well know!

[2022-10-10 08:20] OlivierZal opened #20 "Power consumption feature"
@Zeeker86, @Norjolo, @dozepih, @osauser, @henrikjonhed, @janhjordie

I'm currently working on adding the power consumption feature in the app.

Thanks @henrikjonhed, sure https://github.com/XattSPT/com.melcloud/pull/43/commits/f3d96e79e9d6b1b306755de343f1109c5e1d2161 will help.

I just need a MELCloud guest access (olivier.zalmanski@me.com) to one air-to-water heat pump in order to make some tests

[2022-10-10 08:22] OlivierZal opened #21 "Waterflow on Ecodan?"
Hi @lawrenz89 and @Katatonz, I created this issue in the new code repository so we can follow-up on https://github.com/XattSPT/com.melcloud/issues/24

[2022-10-10 08:23] janhjordie commented on #20
@OlivierZal I have extended your guest access
So you are welcome to test 👌🦄

[2022-10-10 09:01] henrikjonhed commented on #20
Great! Do you have a branch pushed? If so then I could test it locally as well.

Glad to hear that my PR is of help, but I'm not really happy about the solution to name the capability as `yesterday's x`, it feels a bit hacky. I was wondering if a less ugly solution would be to display the total consumption, production and cop instead?

[2022-10-10 09:04] OlivierZal commented on #20
Hi @henrikjonhed, not yet.

Indeed your PR is not part of the new app code because it conflicted with SDK 3 and homeycompose reshape.

And you're right: your code is good but there are possibilities to plug to standard capabilities so we can benefit of Homey built-in features. Exploring this and I'll share my branch as soon as I have one.

[2022-10-11 06:57] OlivierZal commented on #4
Thank you it will help.Would you mind invite ***@***.*** as a guest from the official MELCloud app? Restricted (read-only) access should be enough to see MELCloud API behavior on your devices. Le 29 sept. 2022 à 08:58, Jan Hjørdie ***@***.***> a écrit :﻿
I just tried the following.

Set the Zone Operation Mode in MELCloud to Flow
Activated the Set Water Tank Temp Card in Homey (and only that card)

[2022-10-12 13:00] OlivierZal commented on #20
Hi @Zeeker86, @Norjolo, @dozepih, @osauser, @henrikjonhed, @janhjordie

I've just published a new test version: https://homey.app/fr-fr/app/com.mecloud/MELCloud/test/
- added energy consumption metrics
- now **every** capability has its corresponding flow cards (air-to-water devices)
- zone 1 and zone 2 can be controlled by the same device (air-to-water devices)
- "cool values" are not displayed w

[2022-10-12 13:35] janhjordie commented on #20
Fantastic @OlivierZal 👌👌🤘🙏

![image](https://user-images.githubusercontent.com/79910/195356813-2d401991-b154-40e9-ae09-ad942abdcf41.png)

[2022-10-12 14:06] henrikjonhed commented on #20
Nice solved by naming yesterday's consumption as last daily consumption! ⭐

What do you think about using two decimals for consumption and production instead of integers? Adding `decimals:  2` to the capability option in `driver.compose.json` and not using `toFixed(0)`

[2022-10-12 14:08] OlivierZal commented on #20
I can @henrikjonhed, but maybe not for the total ones since they can be very high.

[2022-10-12 14:28] henrikjonhed commented on #20
Tested the version linked above now, works great!

Do you know if it's possible to make `Zone 1` the default thermostat in the UI? Now it displays `Water tank`, which I guess is due to the order being alphabetic?

[2022-10-12 14:32] OlivierZal commented on #20
I can try again but it's not like simple

[2022-10-12 15:30] OlivierZal commented on #20
I'm going towards this solution, but I guess that if someone if prefers to see zone 1 before water tank, he will also prefer to see zone 2 before it. Exploring some solutions.

[2022-10-13 14:03] smurfb commented on #20
Great work! I have been using HA and homey-HA integration but now I can scrap it. Would love to have one decimal on todays use of power though on an air2air device.

[2022-10-15 13:34] janhjordie opened #22 "Feature request - Separate COP values"
Hey @OlivierZal
In your new version 4.0 you added the power consumption, production and COP value.
In the native MELCloud app you are able to get consumption, production and COP, for hot water and heating production.
That could be a very nice feature.
So the two individual values and the average total as we have now

Thanks 🙏

[2022-10-15 13:37] OlivierZal commented on #22
Hi @janhjordie, I've already did so (+ decimals asked in other comments). Tests are ongoing, I'll post a new test release soon.

[2022-10-15 13:40] janhjordie commented on #22
Ohh, fantastic 👌🤘

[2022-10-17 05:12] janhjordie opened #23 "MELCloud app is stopped working"
You might already have been noticed.
@OlivierZal Do you need more info or should I just restart it again?

![image](https://user-images.githubusercontent.com/79910/196094164-8fc2abcb-dbf9-46a4-8ec5-75a32fed1a6d.png)

[2022-10-17 05:22] OlivierZal commented on #23
Hi @janhjordie, yes I received logs, you can restart.

[2022-10-17 05:27] #23 closed

[2022-10-18 10:37] OlivierZal commented on #20
Hi @Zeeker86, @Norjolo, @dozepih, @osauser, @henrikjonhed, @janhjordie,

Please find a new test version including your comments but also with an app core completely redesigned to avoid some sync issues.

Note that after many tests, there is a big delay on MELCloud app's end to take into account any change you make from the app, but the redesign I made makes sure that when sending an info to MELClo

[2022-10-18 10:37] #22 closed

[2022-10-18 10:58] janhjordie commented on #20
Damn, there are so many properties  on it now 😂😂
But it looks great 🥰🥰
Only wish I have is Last daily heating CoP and last daily hot water CoP.
It gives an easy way to see the HP efficiency

Thanks Olivier 👌

[2022-10-18 11:10] OlivierZal commented on #20
Oh ok, I didn't get your point. Unfortunately Hot Water CoP is not available via MELCloud API.

[2022-10-18 11:14] janhjordie commented on #20
It's actually very easy. No api is needed.
Just divide hot water production with hot water consumption = hot water CoP
And the same for heating

[2022-10-18 13:00] OlivierZal commented on #20
@janhjordie, you asked for it... you have it in the 5.0.1

Note that when we add new capabilities, they are added to the existing one and not according to the order at first pairing.

That's why new CoP at the end of your existing capabilities (and not just after the CoP / existing energy metrics).

[2022-10-19 15:02] Grevling73 opened #24 "Can't add Melcloud device"
When trying to add air to air heatpump I get error message: "this.getName is not a function"

Error occurres after entering Melcloud Account info.

Any ideas?

Thanks
Leif

[2022-10-19 15:10] OlivierZal commented on #24
Hi @Grevling73, such an error message occurs when there is a problem with credentials or no device can be found.

[2022-10-19 15:35] OlivierZal commented on #20
If no more comment on the newest test version, from what I've tested control and flows are ok for both air-to-air and air-to-water devices, so I'll go into production in the next days.

Feel free to raise any issue you could encounter in the meanwhile.

Thanks!

[2022-10-19 15:39] #20 closed

[2022-10-19 16:38] Grevling73 commented on #24
Hi,
No, the MelCoud app works fine.

Leif
On 19. okt. 2022, 17:12 +0200, Olivier Zalmanski ***@***.***>, wrote:

[2022-10-19 17:11] OlivierZal commented on #24
Sorry @Grevling73, just to be sure to understand, did you succeed in adding your device by downloading the link I gave you in my previous comment, or do you still have an issue?

If you have still an issue, you can go to your official MELCloud and invite olivier.zalmanski@me.com as a guest – I don't need full access to investigate, just a restricted (read-only) access.

[2022-10-19 18:31] OlivierZal commented on #24
@Grevling73

Thanks to your invite I understand what happens: your type of device is not supported yet by the Homey app... but thanks to you I can add it!

I need to do some research to see which APIs I need to call to give you the control. Which model do you have? Is it a Energy-Recovery-Ventilation?

[2022-10-19 18:47] Grevling73 commented on #24
Hello,

This is an air to air heatpump.
I will enclose a photo of the model info.

Leif
On 19. okt. 2022, 20:31 +0200, Olivier Zalmanski ***@***.***>, wrote:

[2022-10-19 20:21] OlivierZal commented on #24
Oh ok, no need to send me info, I have an idea. I'll make some test and come back to you.

[2022-10-19 20:32] OlivierZal commented on #24
@Grevling73, now I can see your device (see attached screenshot). Can you please try again?

![image](https://user-images.githubusercontent.com/88216225/196797893-a20985e3-d4f8-40d5-a689-9e2da9e267c9.png)

[2022-10-19 21:27] Grevling73 commented on #24
Unfortunately still the same. "No new units have been found". See attached screenshot.

Leif
On 19. okt. 2022, 22:32 +0200, Olivier Zalmanski ***@***.***>, wrote:

[2022-10-19 21:34] OlivierZal commented on #24
@Grevling73, maybe a last try: I don't why but sometimes multi-floor can make the device search fail.
Can you move your device on the other floor and try again?

[2022-10-19 21:39] OlivierZal commented on #24
Another idea: maybe your app crashed or something but the device has been registered in Homey despite all.

Can you please send me a screenshot of all your Homey devices?

[2022-10-20 07:12] Grevling73 commented on #24
Hello again,
I now managed to add the heatpump via pc. Could be a bug with the Android phone app?

Leif
On 19. okt. 2022, 23:39 +0200, Olivier Zalmanski ***@***.***>, wrote:

[2022-10-20 21:54] OlivierZal commented on #20
@janhjordie, I agreed with you: too much measurements displayed in the dashboard.

In the newest version: go to the dashboard and then to the settings, you will have a surprise :-)

[2022-10-21 06:05] MTRKhn commented on #20
cop are displayed regardless of the settings ;)

can you also incorporate a global settings to disable everything related to water (EcoWater, Immersion Heather, …) ? Most air to water HPs don’t have it.

[2022-10-21 06:38] henrikjonhed commented on #20
Really like that I’m able to select which consumption capabilities to be displayed!

- I’ve noticed that I get all cop-capabilities displayed even though there set to not be.
- The app requires a restart after changing display settings for the other consumption/production values
- I think the capabilities should be sub capabilities to `meter_energy`, if one wants to follow Homeys generic capabilit

[2022-10-21 06:39] OlivierZal commented on #20
Hi @MTRKhn, it on purpose: I made the "daily CoPs" mandatory, only "total CoPs" can be retrieved from settings.

But you're right: what I can do for energy measurements can be extended for any dashboard info.

Working on it

[2022-10-21 06:52] OlivierZal commented on #20
Hi @henrikjonhed,

- Maybe I'm mistaken but my previous comment answers about the cop-capabilities.
- When you save settings, don't you get a yellow warning on top of the screen telling you that you need to exit the device and return to update the dashboard?
- Will change.

[2022-10-21 06:57] janhjordie commented on #20
Thanks for the new version. It's brilliant

[2022-10-21 10:30] OlivierZal commented on #20
@henrikjonhed, updated in newest version.

[2022-10-21 12:53] janhjordie opened #27 "Missing triggers"
Hey @OlivierZal
I'm missing some of the triggers there were in the old version.
Triggers for defrost mode, booster heater 1 and 2 and immersion heater.

I also use the Operation Mode to show the heat pump state on the timeline, and the operation mode use to be ex. Off, DHW and Heating or something like that, but right now it's just values 0, 1, 2. (Not sure there are more)
Could it be possible to

[2022-10-21 13:33] OlivierZal commented on #27
Will add them again, I thought I did but this all the new capabilities I probably misread within the too many flow cards.

[2022-10-21 13:52] OlivierZal commented on #27
@janhjordie

Concerning new labels, would it be ok for you?
[code]

[2022-10-21 14:19] OlivierZal commented on #27
I've just published a new test version.

[2022-10-21 14:30] janhjordie commented on #27
Installed and testing !!

[2022-10-21 14:36] OlivierZal commented on #27
I will make a small change at the immersion heater level (alarm_water => alarm_generic).

[2022-10-21 14:37] janhjordie commented on #27
@OlivierZal
"1" => "dhw" should be dwh, Domestic Water Heating

[2022-10-21 14:45] OlivierZal commented on #27
I agree with you on a grammatical point of view, but if you search on Google (e.g.), you'll see results for DHW because it's a known acronym although there is not result for DWH, so I'd rather use DHW.

Actually it can be considered a shortcut for "Domestic Hot Water [Mode]", like "Heating [Mode]", "Defrost [Mode]" (and not "Defrosting").

[2022-10-21 14:46] janhjordie commented on #27
Haha, ok, you win 😆

[2022-10-23 06:06] #27 closed

[2022-10-24 11:18] mainnsto opened #29 "Flow card "Fan_Speed_Action" removed?"
Not sure if this was done by intention, but my flows controlling fan speed on my heat pumps are now broken.
Can you confirm if these cards have been changed permanently and i need to replace cards?

[2022-10-24 11:22] OlivierZal commented on #29
Hi @mainnsto,

First of all, I'm sorry for the convenience.

As explained in the change logs I reshaped the whole app to use standard Homey features.

So you'll have to change some flow cards because of that but I promise it's once and for all and won't change anymore!

Don't hesitate to ask for assistance if you don't succeed in fix some of your flows.

Kind regards

[2022-10-24 11:25] mainnsto commented on #29
Hi Olivier,
Thanks for the fast reply, unfortunately I missed your note about this in the release notes. I will change my flow cards then, no problem :-) Just needed to be sure. Finally, thanks for maintaining a great functioning app! Had very little problems with it.
Best regards

[2022-10-24 11:25] #29 closed

[2022-10-24 17:24] janhjordie opened #30 "Move flow temperature back to settings page"
Hey @OlivierZal
A thing I liked with the old version was having the heat flow target temperature and water tank target temperature on the settings page.
Normally you won't change the water tank temperature and water flow temperature as a daily routine. It's normally a set and forget.
That's also why it's keept on the Unit Settings in the real MELCloud app.

Maybe it's a bit difficult since there c

[2022-10-24 18:01] OlivierZal commented on #30
Hi @janhjordie, thanks for your feedback. As usual I always appreciate it.

I removed flow temperatures from settings for technical and design reasons.

A first kind of reasons is related to Homey: capabilities can be "listened", not settings. To bypass this, a hybrid system was created with settings duplicated by capabilities: design was difficult to read and then difficult to maintain, in partic

[2022-10-24 18:03] OlivierZal commented on #30
Problem is also that Homey settings and MELCloud settings are called settings but are not equivalent in term of functionalities.

[2022-10-24 20:20] janhjordie opened #31 "Strange heating issue"
@OlivierZal
I suddenly experiencing a strange thing.
When I try set the room heating temperature, it sets the temperature just fine. But few seconds after, it return to the original temperature.
Same issue on the speedometer control and from the card

[2022-10-24 20:22] OlivierZal commented on #31
Hi @janhjordie, I will check, is that with production or test release?

[2022-10-24 20:25] janhjordie commented on #31
Test release

Maybe it could be something with the polling interval ?

[2022-10-24 20:33] OlivierZal commented on #31
No it's more related to the effective flag conversion.

Feel free to go back to production version until I fix it.

[2022-10-24 22:20] OlivierZal commented on #31
Ok, it was an hard one, JS does not like big hexadecimals. Will be fix in next test release.

[2022-10-24 22:21] OlivierZal commented on #31
@janhjordie, ok, it was an hard one, JS does not like big hexadecimals. Will be fix in next test release.

[2022-10-24 23:24] OlivierZal commented on #31
Published:  https://homey.app/a/com.mecloud/test/

[2022-10-25 07:54] janhjordie commented on #31
Damn, you are working late !

Installed now and will test during the day

Thanks !

[2022-10-26 13:40] ronennieshow opened #33 "5.2.8"
Hi

I have some minor issues (for as far as i have been able to test the New app)

1. The refresh rate of the app is now limited to a minimum of 3 minuts. In the past this was 1 minut.
Problem for me is that i use the Hot water temperatuur for the color of my mirror lighting so i can see how long i can keep showering before the Hot water temperatuur wil drop

2. In the dashboard i can not select t

[2022-10-26 13:53] OlivierZal commented on #33
Hi @ronennieshow,

Knowing better the way the MELCloud, 3 minutes seem safer to avoid sync issues. But no problem, I will revert the minimum back to 1 minute in the next release.

Concerning the second issue, can I have screenshots? Because water tank temperature has moved away from the dashboard to the dedicated temperature tab (but this should apply both to PC and mobile app, that's why I'm a bi

[2022-10-26 13:56] OlivierZal commented on #31
@janhjordie, do you confirm your issue is solved?

[2022-10-26 14:55] ronennieshow commented on #33
![image](https://user-images.githubusercontent.com/113858484/198059538-0bf680a8-ebad-4c8e-840c-630a3086f092.png)
The thirt line is for the tempreture of the warm water tank

![image](https://user-images.githubusercontent.com/113858484/198059881-0c923446-455c-4dea-859a-38d4c255e2ab.png)

But i can not see this value in this window.
On a pc it is not a real big issue because you have the device pict

[2022-10-26 15:07] OlivierZal commented on #33
Ok I understand better, it's because of the new capability design: both were moved and gathered under the dedicated temperature tab:

![image](https://user-images.githubusercontent.com/88216225/198063673-55e37805-77b4-48bb-9c1c-eb18600094a7.png)
![image](https://user-images.githubusercontent.com/88216225/198063697-3ec9fa4c-c151-4077-add5-118a5c2e8533.png)

For more explanations about this move: ht

[2022-10-26 19:47] Zeeker86 commented on #20
Thanks a lot for the new version :)
I've been busy with a new born :D
Sat down now and i look great.  Maybe it is only at mye place, but a "new day" starts at 05pm. (17:00 i Norway)
In insigths I see it change.

Should not that be at 00:00 ?

![image_2022-10-26_214459011](https://user-images.githubusercontent.com/96392938/198121837-1d8ffa46-828c-4a48-8e6f-c2e69aec40fd.png)

[2022-10-26 19:52] OlivierZal commented on #20
Hi @Zeeker86, you raise a good point!

The energy report is processed every 24 hours... since the app is initialized (so I guess MELCloud was updated at 17:00).

I'll check how I can force report process at 00:00 in the user time zone.

I'll let you know!

[2022-10-26 19:53] #31 closed

[2022-10-26 19:58] janhjordie commented on #33
@ronennieshow Just be aware of pulling data to often from MELCloud.
I have experienced after Mitsubishi added MSSQT to MELCloud for several months ago, and made my connection unstable because of to many request, and my requests was stacking up in the MSSQT queue

[2022-10-26 20:00] #30 closed

[2022-10-27 07:12] andraves opened #35 "Lowest "Set temperature" is to high"
Hello!

My Air-to-Air Heatpump is able to set temperature down to 10 degrees. In your MelCloud app the lowest "set temperature" is 16 degrees.

Is it possible to lower this to 10 degrees?

Best regards
AR

[2022-10-27 07:16] OlivierZal commented on #35
Hi @andraves, no problem: I will revert back to 10 for the next release (which will be at the beginning of next week).

It's strange because I made some tests: indeed it seems the MELCloud app makes possible to set 10 degrees for dry and fan modes, but those modes does not care about temperature, that's why I made the change.

But no problem, don't worry, I will lower it to 10.

[2022-10-27 09:55] OlivierZal commented on #35
@andraves, done for next release, available for test (https://homey.app/a/com.mecloud/test/) and waiting for Homey's approval.

[2022-10-27 09:58] OlivierZal commented on #33
@ronennieshow, it has just been released.

[2022-10-27 09:58] #33 closed

[2022-10-27 12:12] OlivierZal commented on #20
@Zeeker86, it has been fixed with today's release, now the report will be launched every day at 00:00 AM **UTC**.

[2022-10-27 20:42] Deejaybaze opened #36 "Pull Request for MQTT Feedback."
Hi. All is working well now, with the active version. One thing i can see that is bugging me.
I have HOMEY connected via the Mosquitto app to my Cloud-Broker and Node-Red client.
If i change operating mode on zone 1 from Heat Room to Heat flow, the unit changes to flow, and sets the assigned temperature. But y MQTT status is stil "0" (should be 1). It has now been 12 hours since the last chnge, an

[2022-10-27 20:52] Deejaybaze commented on #36
![Skärmavbild 2022-10-27 kl  22 51 14](https://user-images.githubusercontent.com/113287468/198395594-760fadfc-acd1-486f-b8d9-461ff8a26afb.png)
There are also some other digits that does not add up.....

[2022-10-27 20:56] Deejaybaze commented on #36
Just noticed. If i de-activate the device in the MQTT-Hub (app in Homey) And Re-Activate it. All numbers gets updated. As i have figured out. This is the only app with this problem.

[2022-10-27 21:02] OlivierZal commented on #36
Hi Thomas, thanks for your feedback.

I'm not familiar with the way MQTT works with Homey but I've just seen that its code is public on GitHub so I'll investigate.

I'll keep you updated.

[2022-10-27 21:10] OlivierZal commented on #36
@Deejaybaze, maybe a lead: could it be that subcapabilities (`xxx.yyy`) are well created but since the point is replaced in capability name, the corresponding values are not well updated? Have you examples of other apps with subcapabilities well updated? If so it would be a fix to do on MQTT.

[2022-10-27 21:28] Deejaybaze commented on #36
Thank you for the quick response. Do you mean decimals in the unit? 50.00 and in MQTT it is only 50 ? I do not think so. Because many of the mqtt digits are directly from the app, and may vary depends on the variable. Operation status on the zone 1 mode is only 0,1,2

[2022-10-27 21:33] OlivierZal commented on #36
No, I was meaning the handling of capabilities with a dot like `target_temperature.tank_water` or `operation_mode_zone.zone1`

[2022-10-27 21:36] Deejaybaze commented on #36
![Skärmavbild 2022-10-27 kl  23 34 58](https://user-images.githubusercontent.com/113287468/198402816-43d9229b-f378-4999-82df-c1e1669940bc.png)
Is that on the back-end? In the script itself? This is a snipout from MQTT. over some other units. I can provide you with more if needed.

[2022-10-27 21:40] OlivierZal commented on #36
I think I'll better understand if I install MQTT myself.

Do you have the same issue with values like `target_temperature` or `operation_mode_state`?

[2022-10-27 21:41] Deejaybaze commented on #36
Ill just saw this. In you app you have something called "Format" witch shows the temperature. And in other sensors this is not present, or a fixed number.
![Skärmavbild 2022-10-27 kl  23 39 10](https://user-images.githubusercontent.com/113287468/198403637-dd208a2b-b4b1-4ced-ad94-24ba7306af6b.png)

[2022-10-27 21:42] Deejaybaze commented on #36
I would say most of the digits provided from the MELcloud App.

[2022-10-27 21:45] Deejaybaze commented on #36
These are the units i use (for now, expanding when time comes).
"Bör-Värde" is Target Temperature Zone 1
"Vattentanken" is temp in boiler
"Värmepanna Läge" is operation mode.

[2022-10-27 21:45] Deejaybaze commented on #36
![Skärmavbild 2022-10-27 kl  23 42 38 1](https://user-images.githubusercontent.com/113287468/198404244-6a38908f-f312-4447-83a9-cde7526d1fbd.png)

[2022-10-27 21:46] OlivierZal commented on #36
If you find values which are fine, share their names with me: it could help me the differences between working and non-working values.

[2022-10-27 21:49] OlivierZal commented on #36
What I see is that some values have their names changed compared to MELCloud and some others not. It could explain why some are not updated. If it's confirmed I will create an issue in the MQTT project.

[2022-10-27 22:12] OlivierZal commented on #36
If my guess is right, the values without `.ˋ should be the one working, and the ones with `.ˋ should not: https://github.com/OlivierZal/com.melcloud/blob/master/drivers/melcloud_atw/driver.js

[2022-10-28 08:10] magljung opened #37 "CIRCULATOR OPERATION"
Hi, Thanks for a great job.
Is it possible to turn on and off "CIRCULATOR OPERATION" on an air to air heat pump.

I have "CIRCULATOR OPERATION" on when I fire the stove. But want to switch off "CIRCULATOR OPERATION" when the fire cools via a temperature sensor.

![image1](https://user-images.githubusercontent.com/58297204/198537776-a1a3c53f-91a9-4c79-b2e2-5495a82ff31e.jpg)

[2022-10-28 08:56] OlivierZal commented on #37
Hi @magljung,

That’s an interesting feature request!

I don’t have this feature on my air-to-air heat pump, so I need to do some research to see how it can be handled through the MELCloud API.

Would you agree to grant me a guest access with restricted (read-only) permissions to your MELCloud account? It can be done from your MELCloud official app and would make me able to see which operations ar

[2022-10-28 11:31] magljung commented on #37
Hi,
No, I can only select that function on the remote control.
Yes, I can create a guest account, but I can't find the "read-only" function

[2022-10-28 11:59] OlivierZal commented on #37
I think it's called "basic".

[2022-10-28 12:37] magljung commented on #37
Now I have created a guest account. Hope it was right.

[2022-10-28 12:40] OlivierZal commented on #37
Yes, got it. Many think, I'll tell you if I find something.

[2022-10-28 13:36] OlivierZal commented on #37
@magljung, I don't find anything related to "circulator operation".

[code]
[code]

Moreover I didn't find anything on https://github.com/vilppuvuorinen/pymelcloud/search?q=circ, which is a good MELCloud project for Home Assistant.

But I'm not surprised: it's known that many actions (e.g. Night mode, Econo mode, etc.) are available only from a remote, and as far as I know an action which is not p

[2022-10-28 13:48] magljung commented on #37
OK thank you very much,

I'll probably have to look for a device that can record an infrared signal and that can be controlled from Homey. Unfortunately, the distance is too long for the IR signal directly from Homey to work.

I've ordered a SwitchBot that can physically press the remote directly for for testing.
It would probably work with a "Fibaro Smart Implant" but I don't want to disassemble

[2022-10-28 15:49] OlivierZal commented on #37
I know there are dedicated product for air conditioning remote automation like Tado° or Sensibo, but I think the features are limited to basic actions (and not every fan speeds are available).

I would have liked to help, because it could have been great to add the feature you propose, but I don't see any technical way to do it through the MELCloud API, which is the only door I have to perform act

[2022-10-28 15:49] #37 closed

[2022-10-28 15:59] OlivierZal commented on #36
Hi @Deejaybaze, I've made some research and found some similar issue raised for other devices / apps on MQTT's project:
- https://github.com/harriedegroot/nl.hdg.mqtt/issues/57 (last comment 21 days ago)
- https://github.com/harriedegroot/nl.hdg.mqtt/issues/74
- https://github.com/harriedegroot/nl.hdg.mqtt/issues/78
- https://github.com/harriedegroot/nl.hdg.mqtt/issues/80

[2022-10-29 07:30] OlivierZal commented on #36
Hi @Deejaybaze,

I started the investigation.

I installed https://homey.app/fr-fr/app/nl.scanno.mqtt/MQTT-Client/ and I can see in the logs that your measures are well updated:

![image](https://user-images.githubusercontent.com/88216225/198819630-56ee6e39-09ac-42f0-9664-525af465504b.png)
![image](https://user-images.githubusercontent.com/88216225/198819637-db43d6bd-e4f4-4327-a404-95b9907a28de.pn

[2022-10-29 07:32] OlivierZal commented on #36
I see there are 2 apps Mosquito MQTT client, do you use the same than mine?

[2022-10-29 07:41] Deejaybaze commented on #36
![523E147D-AD55-4636-9E22-0ECBFCA6D805](https://user-images.githubusercontent.com/113287468/198820033-114fc10c-dcad-496b-a966-f0a26c96f7bc.jpeg) These are the apps I have.

[2022-10-29 07:43] OlivierZal commented on #36
I use the same ones. And then you are seeing the values on RED Node, right?

[2022-10-29 07:55] Deejaybaze commented on #36
Yes. It’s like the app works for 1-2 days. Then it does not provide statistics any longer until I restart the app (MELCloud).

[2022-10-29 07:58] OlivierZal commented on #36
And once you restart the app, does it work for some time (I mean e.g. more than 2 hours), or only once and no longer?

[2022-10-29 08:01] OlivierZal commented on #36
I have an idea, can you please send me a screenshot of your devices on MQTT hub settings? I wonder if you have a conflict between your "old" and "new" MELCloud devices (the one you recreated after I add consumption features).

[2022-10-29 08:01] MTRKhn commented on #36
Is your polling interval lower than 3 minutes. I noticed than if you go lower than 3, you hit some throttling and sync is blocked since you restart the MELCloud app…

[2022-10-29 08:02] Deejaybaze commented on #36
It works for 1-2 days again.

[2022-10-29 08:02] Deejaybaze commented on #36
I have deleted the old unit in both hub and in my broker.

[2022-10-29 08:03] Deejaybaze commented on #36
Poling is 5 mins

[2022-10-29 08:10] OlivierZal commented on #36
So I will wait 1-2 days to see if it also sticks on my side.

1-2 days seems random: MELCloud app behavior remains the same in the time...

[2022-10-29 08:10] OlivierZal commented on #36
@Deejaybaze, just to let you that I never give until I get a solution, or at least a root cause 🙂

[2022-10-29 08:14] Deejaybaze commented on #36
I have my mqtt monitor active on my Mac to monitor all the changes in the variables. So I can see all the apps that might fail.

[2022-10-29 08:22] OlivierZal commented on #36
Which RED node install did you choose? Docker? From node? Clone from GitHub?

[2022-10-29 08:25] Deejaybaze commented on #36
I have my own cloud server in London. Running Ubuntu 20 LTS. Brooker and RN on same server.

[2022-10-29 19:27] Deejaybaze commented on #36
Found it.

I have also the brooker app installed from my previous tests. Even tho i have all links pointed to my cloud server, the local brooker made calls to the client app, and that resulted in a loop for the MELcloud MQTT variables. I could see the "Moquitto Broker" app took huge amount of memory for some reason. I have now deleted the app, and see if my problems are gone.

[2022-10-31 13:55] #36 closed

[2022-10-31 19:48] OlivierZal commented on #36
Hi @Deejaybaze, since you didn’t raise an problem since this weekend I close this issue.

I’ve just seen that in your app review you wrote:

Did the new app versions solve your issue?

Kind regards

[2022-10-31 19:50] Deejaybaze commented on #36
Hi O.
mat the moment i have No problems with the App.

[2022-10-31 19:55] OlivierZal commented on #36
Super! Don't hesitate to update your review so potential users could know everything works well :-)

[2022-11-02 20:03] OlivierZal commented on #36
Super @Deejaybaze!

Don't hesitate to update your review on Homey, so potential users will know that the app works well :-)

[2022-11-06 20:22] MTRKhn opened #42 "Random update since 5.6.2"
Since 5.6.2 upgrade this morning, data are randomly acquired. Schedule is every 3 minutes but some data were not updated for like 30 minutes. Usually when a throttling happen, usually a restart of the app solves it but can’t make it work again :(

Generated a report: a6ac6421-4ea9-442c-9480-d9ad9c7d7460

[2022-11-06 20:25] OlivierZal commented on #42
Hi @MTRKhn,

Unfortunately the report you generated doesn’t show anything concrete.

Have a concrete example which would illustrate the issue?

[2022-11-06 20:28] MTRKhn commented on #42
HP started an hour ago, flow temp and return temp were changing every morning according to the MelCloud app but no changes were reported in Homey. Frequency was not updated either. I just revert to 5.5.0 and everything works.

[2022-11-06 20:28] OlivierZal commented on #42
And did you also have periods where everything update well?

[2022-11-06 20:32] MTRKhn commented on #42
Flow and return temps were only updated 3 times today (2PM, 5PM and 8PM). But i see at least a change every hour in MelCloud

[2022-11-06 20:34] OlivierZal commented on #42
Ok, I’ll investigate my own logs this night.

[2022-11-06 20:44] OlivierZal commented on #42
Thanks to you I found an invisible bug…
Fortunately it’s very simple to fix, will do so tonight.

[2022-11-06 21:22] OlivierZal commented on #42
@MTRKhn, fixed in the last test version.

[2022-11-06 21:23] #42 closed

[2022-11-07 10:40] OlivierZal commented on #42
Hi @MTRKhn, do you confirm this morning that the last version solved your issue?

[2022-11-07 10:49] MTRKhn commented on #42
All good ! Thanks !

[2022-11-07 16:45] OlivierZal commented on #21
I close this issue since the original one has been deleted by the project owner. Don’t hesitate to create new issues with precise requests so I can see what is feasible or not – knowing that MELCloud API offers less possibilities than remote controls or information available directly from the physical device.

[2022-11-08 15:07] teeriksen opened #45 "Power button, always on (disable power on/off)"
Hi @OlivierZal, great app and use this almost every day
Appreciate whether a solution can be established to avoid turning off the heat pump. If you accidentally press the power button inside the Melcloud app in Homey, it will take around 15 minutes before the pump runs normally after a wrong press of the power button. A solution to avoid this could e.g. be placed under settings where you can activ

[2022-11-08 15:23] OlivierZal commented on #45
Hi @teeriksen, you're totally right... that's why the setting exists!

![IMG_1751](https://user-images.githubusercontent.com/88216225/200604250-edb7eedc-534c-46bd-a241-6e1c35ef98fb.PNG)

It's called "Keep Device On": if you don't see it, that means you use the old version of the device. You just need to delete it and re-add it to see the new settings. If you have some flows configured you'll need

[2022-11-08 15:32] teeriksen commented on #45
Thanks for quick answer. Looks like my app is outdated regards this. I will try to re-add it to get this feature :-)

[2022-11-08 15:33] OlivierZal commented on #45
@teeriksen, don't hesitate to contact me again in case of need!

[2022-11-08 15:52] teeriksen commented on #45
Deleted and re-added the app. I cant find simalar settings as your picture states (I guess its under settings?) This is app version 5.6.5 on Homey Pro (early 2019, Homey version 8.0.8)
![IMG_14D77619509E-1](https://user-images.githubusercontent.com/80590127/200611122-965985a4-865f-4e71-8a43-d399af1c258c.jpeg)

[2022-11-08 15:54] OlivierZal commented on #45
@teeriksen, maybe I wasn't clear enough: you don't need to remove the app but to remove your device.
Did you perform this action?

[2022-11-08 15:55] OlivierZal commented on #45
Oh, you have an air-to-air device.

The setting is only for air-to-water device for now, but will be for air-to-air device very soon.

I reopen the issue as a feature reminder.

[2022-11-08 15:59] teeriksen commented on #45
I did try that to, still the same. Yes Uwano 7000 is a air-to-air heat pump device. Perfect

[2022-11-08 16:19] OlivierZal commented on #45
@teeriksen, the code is ready (https://github.com/OlivierZal/com.melcloud/pull/46/files) and will be part of the next release.

[2022-11-10 11:15] OlivierZal commented on #24
I changed the request library and the way we get the list, I hope this will solve the issue.

[2022-11-10 11:15] #24 closed

[2022-11-10 11:16] OlivierZal commented on #45
@teeriksen, you can test the feature by downloading this test version: https://homey.app/fr-fr/app/com.mecloud/MELCloud/test/

[2022-11-10 12:49] teeriksen commented on #45
Installed based on your app-link on my Homey Pro. When I switch off the app, the app goes dimmed (It looks like that the air-to-air heat pump, Uwano 7000 went off inside the app). I visually did check to see the indoor unit and the heat pump still runs. A little bit confused on this.

I possible there should instead be a warning to state that power-off is disabled (regards the settings) if you pre

[2022-11-10 12:58] OlivierZal commented on #45
There might be a bug, I’ll investigate.

[2022-11-10 13:11] OlivierZal commented on #45
Found, I prepare a fix

[2022-11-10 13:46] teeriksen commented on #45
While you're at it, I have a suggestion to simplify/understanding the fan speed on the heat pumps. What if you e.g. could define this corresponding to the menus as the various mode choices. A little easier to see which speed you have chosen
<img width="411" alt="image" src="https://user-images.githubusercontent.com/80590127/201107614-8b0dd96d-41f5-4328-b18f-1d510d8f304d.png">

[2022-11-10 15:30] OlivierZal commented on #45
Fixed with the new test version: https://homey.app/fr-fr/app/com.mecloud/MELCloud/test/

Concerning your proposal, it's not against the idea, I'll think if it's possible to do so in a way which doesn't break the existing flows.

[2022-11-10 15:41] teeriksen commented on #45
Downloaded & installed updated version. Tried to switch off the device with power button inside the app. The button goes dark (off) and comes on again after 1/2 a second or so. Have only tested based on settings activated 'Keep Device On' Works like a charm :-)

[2022-11-10 15:44] OlivierZal commented on #45
I just made a silly code mistake...

Even if it becomes dark, the "off" information is never sent to the physical device.

[2022-11-10 15:44] teeriksen commented on #45
I´ll guess that you set the fan speed based on numbers, so hopefully the GUI part can keep the same fan speed number.

[2022-11-10 15:56] OlivierZal commented on #45
Yes, technically I could make it just by transforming the number keys into string keys, but I made so many changes and break flows since I took the app responsibility 1 or 2 month ago that I'm not sure it's the right moment to change the user interface :-) If I do so, the "fan speed" tab will be automatically moved and merged with the other capabilities (vanes & operation modes), because Homey org

[2022-11-10 15:59] teeriksen commented on #45
Btw, the log still reports that the device was switched off/on (off=Via Web, On=MELcloud)

[2022-11-10 16:03] OlivierZal commented on #45
Yes, because there is the request you made from Homey and the answer you got from the device.

Between both, the “always on” setting cheats by sending another information (“on”) from the one you requested (“off”).

Can you confirm that your physical device remained up while you was performing this test? That’s the most important.

[2022-11-10 16:04] teeriksen commented on #45
Fully understand, and great that you take this idea in to future needs. And also, if you ask for 2000+ users advices, you might also get 2000+ different answers.

[2022-11-10 16:05] teeriksen commented on #45
Answer is yes!

[2022-11-10 16:06] OlivierZal commented on #45
Good!

[2022-11-23 08:08] renovate[bot] opened #54 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

This repository currently has no open or pending branches.

## Detected dependencies

<details><summary>npm</summary>
<blockquote>

<details><summary>package.json</summary>

 - `axios ^1.3.2`
 - `luxon ^3.2.1`
 - `@tsconfig/node12 ^

[2022-11-25 05:49] MTRKhn opened #56 "Most info broken since 7.1.x upgrade"
No more update of flow and return temperatures, frequency and CoP since yesterday around 1PM, confirmed by my Grafana graphs :(

![47F33155-1775-4AEB-B93F-A4854AAB5E49](https://user-images.githubusercontent.com/72077818/203909787-2fdc8273-6471-4e3c-be15-7af6d20ccf2d.png)
![3A455236-51EC-4C6C-9FB4-305C704B9F6F](https://user-images.githubusercontent.com/72077818/203909821-1beed9a3-fc3b-427f-8306-570

[2022-11-25 05:52] MTRKhn commented on #56
Wait… looks like it’s on MELCloud side. Can someone confirm ?

[2022-11-25 10:04] OlivierZal commented on #56
Hi @MTRKhn, I confirm that the info are still retrieved (I didn't change this part by the way).

[2022-11-25 10:06] OlivierZal commented on #56
@MTRKhn, if you grant me an access (olivier.zalmanski@me.com) from your official MELCloud app I can check for you.

[2022-11-25 10:13] MTRKhn commented on #56
Access granted, but i can't see any stats in MelCloud itself :(

![image](https://user-images.githubusercontent.com/72077818/203959001-65f4d54b-ff0e-4793-ad8f-2244694ce49a.png)

[2022-11-25 10:14] OlivierZal commented on #56
@MTRKhn, here is your device seen from my Homey:

![IMG_1813](https://user-images.githubusercontent.com/88216225/203959321-0a8267ef-da45-40a0-ac6c-8b05746fc808.PNG)

[2022-11-25 10:17] MTRKhn commented on #56
That's values from yesterday 1PM except the outdoor temperature.

[2022-11-25 10:20] OlivierZal commented on #56
@MTRKhn, it's also what I get right now directly from the API:
[code]

[2022-11-25 10:22] MTRKhn commented on #56
API is dead i think lol

![image](https://user-images.githubusercontent.com/72077818/203961881-3f4e8812-d7ad-4d4a-8669-8a97ab853843.png)

Do you have access to another Air/Water PAC ?

[2022-11-25 10:22] OlivierZal commented on #56
Yes, if there is an issue it's indeed on MELCloud API's end, not Homey / MELCloud app.

[2022-11-25 10:23] OlivierZal commented on #56
Sorry, I think I can't help :(

[2022-11-25 10:23] #56 closed

[2022-11-25 10:25] OlivierZal commented on #56
@MTRKhn, I will continue to investigate your API behaviour, don't hesitate to reach me directly to my personal email, so that I won't post here any of your personal data.

[2022-11-25 11:28] MTRKhn commented on #56
![image](https://user-images.githubusercontent.com/72077818/203976029-0412060d-eec9-4d4c-a5ac-94fbabe12ce3.png)